body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#sidePanel{
  background-color:ghostwhite;
  border: 2em;
}

#content{
  background-color: antiquewhite;
}